# build output
build*/
deploy/
*.log
*.bak
CMakeCache.txt

# user-specific
*.user
*.autosave
.vs/
.vscode/

# archives & temp
*.zip
.idea/
cmake-build-debug

dist/
tools/
new-build/
live2d-build/
data/
third_party/
.workbuddy-ai/
scripts
tests

# 软件自身缓存(<程序目录>\.cache)
.cache/
