# build output
build*/
deploy/
*.log
*.bak

# user-specific
*.user
*.autosave
.vs/
.vscode/

# archives & temp
*.zip
.idea
cmake-build-debug

*.dll
tools/perf/results/*.mp4
loop_ydif*.csv

tools/.cmsg.txt
dist/
tools/dumps/
